* {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

a:hover {
    color: #b3b3b3;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #b3b3b3 !important;
}

.header {
    position: relative;
    width: 98vw;
    height: 40px;
    background: black;
    padding: 15px 20px;
}

.header_links {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    width: 50vw;
}

.header_link {
    text-decoration: none;
    margin: 5px 20px;
    font-size: 24px;
    color: #fff;
}

.main {
    background: #fafaff;
    color: #000;
}

.main_info {
    padding: 20px 5%;
    border-bottom: 2px solid #000;
    font-size: 36px;
    font-weight: 500;
}

.main_links {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #000;
    margin: auto 20%;
}

.main_link {
    margin: 15px 30px;
    padding: 5px;
    font-size: 26px;
}

.main_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 30px;
    height: 100vh;
    margin: 20px 20%;
    background: #fcfcfc;
}
  
.main_card {
    position: relative;
    grid-row: span 2;
    grid-column: span 3;
    max-width: 320px;
    max-height: 300px;
    background: #f2f2f2;
    border-radius: 30px;
    border: 2px solid #9c9c9c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

.main_card #a2 {
    opacity: 0.5;
}

.main_card p {
    font-size: 30px;
    font-weight: 500;
}
.main_card h1 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 300;
} 

.main_card a {
    position: absolute;
    width: 180px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px;
    text-transform: uppercase;
    background: #000;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}