{% extends 'base.html' %}


{% load static %}


{% block style %}
  <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
{% endblock %}


{% block title %}
  <title>Вход</title>
{% endblock %}


{% block content %}
<form method="post" class="form">
  {% csrf_token %}
  <label class="label">Ваш login</label>
  {{ form.username}}
  <label  class="label">Пароль</label>
  {{ form.password}}
  <button type="submit" href="{% url 'main:login' %}" class="login">Войти в аккаунт</button>
</form>
{% endblock %}