{% extends 'base.html' %}


{% load static %}


{% block title %}
  <title>Добро пожаловать!</title>
{% endblock %}


{% block content %}
<div class="main">
  <h1 class="main_info">Все тесты</h1>
  <div class="main_links">
    <a class="main_link">Все тесты</a>
    <a class="main_link">Лексика</a>
    <a class="main_link">Грамматика</a>
    <a class="main_link">Фразеология</a>
    <a class="main_link">Глаголы</a>
    <a class="main_link">Тест уровня</a>
  </div>
  <div class="main_container">
    {% for test in tests %}
    <div class="main_card" value="{{ test.type }}">
      <p>{{ test.title }}</p>
      <h1>{{ test.text }}</h1>
      {% for task in test.tasks.all %}
        <div>{{ task.text }}</div>
      {% endfor %}
      {% if request.user.is_authenticated %}
      <a id="a1" href="test/{{ test.id }}">Перейти к тесту</a>
      {% else %}
      <a id="a2">Перейти к тесту</a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<script>
  let main_info = document.querySelector('.main_info')
  let list_a = document.querySelectorAll('.main_link')
  let list_card = document.querySelectorAll('.main_card')
  let list_button = document.querySelectorAll('.main_card #a1')
  list_a[0].style.fontWeight = 'bold'

  for (let a of list_a) {
    a.addEventListener("click", function(event) {
      let element = event.target

      for (let el of list_a) {
        el.style.fontWeight = 'normal'
      }
      element.style.fontWeight = 'bold'
      main_info.textContent = element.text

      for (let el of list_card) {
        el.style.display = "block" 
      }

      if (element != list_a[0]) {
        for (let el of list_card) {
          if (element.text != el.getAttribute('value')) {
            el.style.display = "none"
          }
        }
      }
    })
  }

  for (let button of list_button) {
    button.addEventListener("click", function(event) {
      let answer = confirm("Вы уверены, что хотите пройти тест?")
      if (!answer) {
        event.preventDefault()
      }
    })
  }
</script>
{% endblock %}