{% extends 'base.html' %}


{% load static %}


{% block title %}
  <title>Добро пожаловать!</title>
{% endblock %}


{% block content %}
<div class="main">
  <h1 class="main_info">Разделы тестов</h1>
  <div class="main_links">
    <a class="main_link">Все тесты</a>
    <a class="main_link">Лексика</a>
    <a class="main_link">Грамматика</a>
    <a class="main_link">Фразеология</a>
    <a class="main_link">Глаголы</a>
    <a class="main_link">Тест уровня</a>
  </div>
  <div class="main_container">
    {% for test in object_list %}
    <div class="main_card" value="{{ test.type }}">
      <p>{{ test.title }}</p>
      <h1>{{ test.text }}</h1>
      <h1>{{ test.author.username }}</h1>
      {% for task in test.tasks.all %}
        <p>{{ task.text }}</p>
      {% endfor %}
      <button id="{{ test.id }}" type="submit">Перейти к тесту</button>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  let main_info = document.querySelector('.main_info')
  let list_a = document.querySelectorAll('.main_link')
  let list_card = document.querySelectorAll('.main_card')
  list_a[0].style.fontWeight = 'bold'

  for (let a of list_a) {
    a.addEventListener("click", function(event) {
      let element = event.target

      for (let el of list_a) {
        el.style.fontWeight = 'normal'
      }
      element.style.fontWeight = 'bold'
      main_info.textContent = element.text

      for (let el of list_card) {
        el.style.display = "block" 
      }

      if (element.text != 'Все тесты') {
        for (let el of list_card) {
          if (element.text != el.getAttribute('value')) {
            el.style.display = "none"
          }
        }
      }
    })
  }
</script>
{% endblock %}