{% extends 'base.html' %}


{% load static %}


{% block style %}
  <link rel="stylesheet" href="{% static 'main/css/register.css' %}">
{% endblock %}


{% block title %}
  <title>Регистрация</title>
{% endblock %}


{% block content %}
<form method="post" class="form">
  {% csrf_token %}
  <label class="label">Ваш login</label>
  {{ form.username}}
  <label class="label">Ваш email</label>
  {{ form.email}}
  <label class="label">Пароль</label>
  {{ form.password1}}
  <label class="label">Подтвердите пароль</label>
  {{ form.password2}}
  <button type="submit" href="{% url 'main:main' %}" class="register">Зарегистрироваться</button>
</form>
{% endblock %}