{% extends 'base.html' %}


{% load static %}


{% block style %}
  <link rel="stylesheet" href="{% static 'main/css/test.css' %}">
{% endblock %}


{% block title %}
  <title>Тест № {{ test.id }}</title>
{% endblock %}


{% block content %}
<div class="main">
  <div id="token">{% csrf_token %}</div>
  <div class="main_info">
    <h3>{{ test.title }}</h3>
    <h5>Тип теста: {{ test.type }}</h5>
    <h6>Описание теста: {{ test.text }}</h6>
  </div>
  <div id="test_id" value="{{ test.id }}" class="test_container">
    {% for task in test.tasks.all %}
    <div id="{{ task.id }}" class="task_card">
      <h2>{{ task.text }}</h2>
      <div class="task_answer">
        {% for answer in task.answers.all %}
        <div>
          <input type="checkbox" id="{{ task.id }}" value="{{ answer.id }}">
          <label for="{{ answer.id }}">{{ answer.text }}</label>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <button id="end" class="end">Завершить тест</button>
  </div>
</div>

<script>
  let list_task = document.querySelectorAll('.task_card')
  let list_answer = document.querySelectorAll('input')
  let button = document.querySelector('#end')
  let answers = {'test_id': document.querySelector('#test_id').getAttribute('value')}

  button.addEventListener("click", function(event) {
    let element = event.target
    let next = true

    for (let task of list_task) {
      let flag = false

      for (let answer of list_answer) {
        if (answer.id == task.id) {
          answers[answer.value] = answer.checked
          if (answer.checked) {
            flag = true
          }
        }
      }

      if (!flag) {
        alert("Во всех заданиях должен быть указан хотя бы один ответ")
        next = false
        break
      }
    }

    if (next) {
      let answer = confirm("Вы уверены, что хотите завершить тест?")
      if (answer) {
        const xhr = new XMLHttpRequest()
        var token = document.getElementsByName('csrfmiddlewaretoken')[0].value

        xhr.open('POST', "http://127.0.0.1:8000/result")
        xhr.setRequestHeader('X-CSRFToken', token)
        xhr.send(JSON.stringify(answers))
        window.location.href = "http://127.0.0.1:8000"
      }
    }
  })
</script>
{% endblock %}