{% load static %}


<div class="header_links">
  <a href="{% url 'main:main' %}" class="header_link">Главная страница</a>
  {% if request.user.is_authenticated %}
    {% comment %} <a href="{% url 'main:tests' %}" class="header_link">Тесты</a> {% endcomment %}
    <a href="admin" class="header_link">Панель администратора</a>
    {% comment %} <a href="{% url 'main:logout' %}" class="header_link">Выйти</a> {% endcomment %}
  {% else %}
    <a href="{% url 'main:login' %}" class="header_link">Вход в аккаунт</a>
    <a href="{% url 'main:register' %}" class="header_link">Регистрация</a>
  {%endif%}
</div>
